.headerBlock {
    width: 85%;
    background: #171313;
    padding: 0 15px;
    z-index: 200;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 25%);
    -moz-transform: translate(-50%, 25%);
    -ms-transform: translate(-50%, 25%);
    -o-transform: translate(-50%, 25%);
    transform: translate(-50%, 25%);
    -webkit-transition: .15s ease-in;
    -moz-transition: .15s ease-in;
    -ms-transition: .15s ease-in;
    -o-transition: .15s ease-in;
    transition: .15s ease-in;
}


header.scroll {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

header li, header a {
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}

.headerBlock nav ul li{
  position: relative;
  float: left;
}

.headerBlock nav ul li a {
  display: block;
  color: aliceblue;
  padding: 20px;
  /* -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerBlock nav ul li a:hover {
  opacity: .7;
}

.headerBlock nav ul li:not(:last-child) ul {
  /* display: none; */
  display: none;
  position: absolute;
  left: 0;
  width: 200px;
}

.headerBlock nav ul li:last-child ul {
  /* display: none; */
  display: none;
  position: absolute;
  right: 0;
  width: 200px;
}

.headerBlock nav ul li ul li {
  width: 100%;
  /* -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear; */
}

.headerBlock nav ul li:hover > ul {
  display: block;
  background-color: #171313;
}

.headerBlock nav ul li ul li:hover > a {
  color: #776161;
}

.headerBlock nav ul li:not(:last-child) ul li a {
  display: flex;
  gap: 10px;
  text-align: left;
  float: left;
  margin-right: auto;
  align-items: center;
}

.headerBlock nav ul ul:last-child li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin: auto;
}

.headerBlock nav ul li ul li a img {
  width: 15px;
  height: 15px;
}

.headerBlock .logo {
  height: clamp(50px, 50vw, 100px);
}

.headerBlock.scroll .logo {
  height: clamp(30px, 50vw, 70px);
  width: auto;
}

@media screen and (max-width: 700px) {
  .headerBlock {
    width: 100vw;
  }
}