header.headerBlock {
  width: 100% !important;
  position: fixed !important;
  top: 0 !important;
  left: 50% !important;
  -webkit-transform: translateX(-50%) !important;
  -moz-transform: translateX(-50%) !important;
  -ms-transform: translateX(-50%) !important;
  -o-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
}

.stadiums {
  width: 100%;
  min-height: 100vh;
  padding: 130px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Catamaran' ,Arial,sans-serif !important;
}

.stadiums__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 60px;
  justify-items: center;
}

.stadium--item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 100%;
  padding: 48px;
  background-color: #fff;
}

.active-stadium p {
  margin-bottom: 20px;
  line-height: 1.25;
  font-size: 16.5px;
}

@media screen and (min-width: 925px) {
  .active-stadium {
    flex-wrap: nowrap;
  }
}

.stadium--item img {
  max-width: 358px;
  width: 100% !important;
  max-height: 201px;
  height: 100% !important;
}

.stadium--item:nth-child(1) {
  justify-content: flex-start;
}

.stadium--item:nth-child(2) {
  background-color: #ebebeb !important;
  justify-content: space-between;
}

.stadium--item:nth-child(2) a.stadium--image-link {
  order: 1;
}

.stadium--item a.stadium--image-link {
  margin-right: 50px;
}

.stadium__info {
  display: flex;
  flex-direction: column;
}

.stadium__info h3 {
  margin-bottom: 10px;
  font-size: 1.563em;
}

.stadium__info p {
  min-height: 4.5em;
  margin-bottom: 20px;
  font-size: 16.5px;
}

.stadium__info a {
  padding: 0.75rem 1.10rem;
  color: #fff;
  background-color: #882042;
  width: max-content;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 400;
}

@media screen and (max-width: 925px) {
  .stadium--item {
    justify-content: center !important;
    align-items: center !important;
    gap: 10px;
  }

  .stadium__info {
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
  }

  .stadium--item a.stadium--image-link {
    margin: 0 auto;
  }
}